html {
    font-family: "Times New Roman", serif, sans-serif;

}

body{
    /* background-image: url('zebra.png');
    background-repeat: no-repeat;
    background-size: cover; */
    /* text-align: center; */
    background-color: #444;
}

h1, h2 {
    font-family: 'Dancing Script', cursive;
    color: #ffffff;
    /* margin: 5px;
    text-align: center;
    text-shadow: 2px 2px 5px black; */
    line-height: 2rem;
    /* font-family: sans-serif; */
}

h2{
    font-size: 30px;
    font-style: normal;
}

img{
    max-width: 100%;
    height: auto;
    padding: 115px;
    /* opacity: .3; */
    /* margin-bottom: 60px */
    display: block;
    margin: auto;
}

.lionImg {
    /* border-right: 2px dotted grey; */
    border-radius: 50%;
    width: 200px;
    border: 2px solid grey;
    padding: 5px;

}

.row{
    display: flex;
    width: 100%;
}

.row::after{
    display: block;
    clear: both;
    content: "";
}

.col-1 { width: 8.33%;}
.col-2 { width: 16.66%;}
.col-3 { width: 25%;}
.col-4 { width: 33.33%;}
.col-5 { width: 41.66%;}
.col-6 { width: 50%;}
.col-7 { width: 58.33%;}
.col-8 { width: 66.66%;}
.col-9 { width: 75%;}
.col-10 { width: 83.33%;}
.col-11 { width: 91.66%;}
.col-12 { width: 100%;}


a {
    text-decoration: none;
    font-size: 20px;
    color: yellow;
    letter-spacing: 10px;
    word-spacing: 30px;
    text-transform: uppercase;
}

.formatting {
    font-size: 25px;
    line-height: 2em;
    color: white;
}

ul li {
    color: white;
    font-size: 20px;
}

ul > li {
    color: yellow;
}

* {
    box-sizing: border-box;
}

[class*="col-"]{
    border: 2px solid red;
    padding: 15px;
    float: left;
}